html,
body,
.root {
  height: 100%;
}

.row {
    margin: 0 !important;
}

.right-col {
    padding-right: 0 !important;
}

.remove {
    float: right;
}

form .find {
    width: 100%;
}

.fullWidth {
    margin-top: 0.5rem;
    width: 100%;
}


.rbt-input-main {
    border-right-width: 0px;
}